body{
    background-color: lightcyan;
}
h1{
    font-size: 30px;
    color: #3498DB;
}

h2{
    font-size: 25px;
    color: #34db74
}

.big{
    font-size: 60px;
}

.uppercase{
    text-transform: uppercase;
}

.big.uppercase{
    font-size: 100px;
}